
body {
  font-family: "Arial", sans-serif;
  background-color: hsl(103, 96%, 79%);
  color: #333;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #419043;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(
    1.05
  );
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 1.5em;
  color: #419043;
}

.card-text {
  font-size: 1em;
  color: #666;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #4caf50;
  color: white;
}
